@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html {
	padding: 0;
	margin: 0;
	background-color: rgb(250,252,253);
}

body {
	margin: 0;
	padding: 0;
	font-size: 93%;
	line-height: 1.8em;
	background-color: rgb(250,252,253);
	font-family: 'Open Sans', sans-serif;
}

a, a:link, a:visited {
	outline: none;
	text-decoration: none;
	color: rgba(76,175,80 ,1);
}

h2, h3, h4, h5, h6 {
	margin-top: 0;
}

p {
	font-size: 101%;
	margin: 0 0 1em 0;
	line-height: 35px;
	color: rgba(117,117,117 ,1);
}

img {
	display: block;
	max-width: 100%;
	border-radius: 4px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
}

.left {
	float: left;
	width: 300px;
	height: 300px;
	margin-right: 20px;
}

.right {
	float: right;
	margin-left: 20px;
}

.app-header {
	background-color: rgb(36,85,142);
	padding: 5px 30px;
	height: 50px;
	color: rgba(255, 255, 255, 1);
	border-bottom: 4px solid rgba(0, 0, 0, .4);
}

.app-header h1 {
	margin-left: -10px;
	font-size: 180%;
	margin-top: 12px;
}

.app-header h1 a {
	color: #fff;
	margin-top: 12px;
	text-decoration: none;
}

/* -------------- NAVIGATION MENU --------------- */

.nav-menu {
	height: 100%;
	overflow: auto;
	background-color: rgb(36,85,142);
}

.nav-menu ul {
	margin: 0;
	padding: 0;
}

.nav-menu ul li {
	list-style: none;
	/*border-bottom: 1px solid #fff;*/
	font-size: 85%;
}

.nav-menu ul li a, .nav-menu ul li a:visited {
	display: block;
	text-decoration: none;
	padding: 10px 20px;
	color: rgba(255, 255, 255, 1);
}

.nav-menu ul li a:hover {
	background-color: rgb(41,98,164);
}

.nav-menu ul li a.active {
	color: #fff;
	font-weight: bold;
	padding-left: 16px;
	border-left: 6px solid rgb(22,53,89);
	background-color: rgb(31,73,123);
}

.buttons {
	width: 200px;
	font-size: 70%;
	font-weight: bold;
	text-align: center;
	background-color: #454545;
	position: absolute;
	bottom: 0;
}

.buttons-inner {
	padding: 10px;
}

.copy {
	color: rgba(255, 255, 255, .5);
}

span.copy a {
	color: rgba(255, 255, 255, .5);
	font-weight: lighter;
	text-decoration: none;
}



/* Begin Main Structure */

.sidebar-one {
	width: 200px;
	position: absolute;
	left: 0;
	height: 500px;
	overflow: auto;
}

.main-content {
	overflow: auto;
	position: absolute;
	left: 200px;
	height: 500px;
	overflow: auto;
	background-color: rgb(250,252,253);
}

.sidebar-two-inner {
	padding: 20px;
}

.main-content-inner {
	padding: 20px;
}

.container {
	max-width: 75%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

/* -------------------- CONTENT STYES ------------------- */

h2.title {
	font-size: 175%;
	font-weight: 400;
}

h2 {
	font-size: 195%;
	font-weight: 400;
}

h3 {
	font-size: 140%;
	font-weight: 400;
	margin: 50px 0 20px 0;
}

p.tag-line {
	font-size: 94%;
	line-height: 30px;
	font-style: italic;
	margin-bottom: 20px;
}

hr.underline {
	margin-bottom: 35px;
	border: .4px solid rgba(0, 0, 0, .1);
}

.margin {
	margin: 30px 0 40px 0;
}

.medium {
	height: 400px;
}

.small {
	height: 50px;
	width: 60px;
}

.contact {
	height: auto;
	max-width: 270px;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.splash {
	height: 100px;
	position: relative;
	border-radius: 5px 5px 0 0;
	background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');
}

.contact_img {
	left: 36%;
	top: 65px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	border: 4px solid #fff;
}

.contact_details{
	padding: 10px;
	margin: 40px 0 0 0;
}

.contact_details h5 {
	font-size: 20px;
	text-align: center;
	padding-left: -13px;
	font-weight: lighter;
}

.social {
	text-align: center;
}

.fa {
	margin: 0 10px;
}

.fa-meetup {
	color: #e4405f;
}

.fa-facebook {
	color: #3b5999;
}

.fa-twitter {
	color: #55acee;
}

.list {
    margin: 0 0 40px 0;
    padding: 5px 20px 10px 20px;
    border-radius: 5px;
    background-color: #F5F5F5;
}

.thumbnails {
    display: flex;
    flex-direction: row;
}

.thumbnails ul {
    margin: 0;
    padding: 0;
}

.thumbnails li {
    list-style: none;
    max-width: 100%;
    display: inline-block;
    padding: 0px 5px;
    width: 70px;
    height: 50px;
}

.thumbnails li a {
    margin-bottom: 100px;
}

.list img {
    border-radius: 5px;
}

#name {
	margin-top: 15px;
}




@media screen and (min-width: 1370px) {
	.container {
		max-width: 50%;
	}
}


/* ------ GRID SYSTEM ------ */
.row {
    margin-right: -20px;
}

.col {
    float: left;
    max-width: 100%;
    padding-right: 20px;
    box-sizing: border-box; 
}

.col-xs-11 {
    width: 91.662%;
}

.col-xs-10 {
    width: 83.332%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.662%;
}

.col-xs-7 {
    width: 58.332%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.662%;
}

.col-xs-4 {
    width: 33.332%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.662%;
}

.col-xs-1 {
    width: 8.332%;
}

@media screen and (min-width: 768px) {
    .col-sm-11 {
        width: 91.662%;
    }

    .col-sm-10 {
        width: 83.332%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.662%;
    }

    .col-sm-7 {
        width: 58.332%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.662%;
    }

    .col-sm-4 {
        width: 33.332%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.662%;
    }

    .col-sm-1 {
        width: 8.332%;
    }
}

@media screen and (min-width: 1024px) {
    .col-md-11 {
        width: 91.662%;
    }

    .col-md-10 {
        width: 83.332%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.662%;
    }

    .col-md-7 {
        width: 58.332%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.662%;
    }

    .col-md-4 {
        width: 33.332%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.662%;
    }

    .col-md-1 {
        width: 8.332%;
    }
}

@media screen and (min-width: 1280px) {
    .col-lg-11 {
        width: 91.662%;
    }

    .col-lg-10 {
        width: 83.332%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.662%;
    }

    .col-lg-7 {
        width: 58.332%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.662%;
    }

    .col-lg-4 {
        width: 33.332%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.662%;
    }

    .col-lg-1 {
        width: 8.332%;
    }
}



/** ************** "CLEARFIX" SET IN THE .group CLASS BEGINS HERE ************** **/

.group:before, .group:after, .row:before, .row:after {
    content: "";
    display: table;
}

.group:after, .row:after {
    clear: both;
}

.group, .row {
    zoom: 1;
}